{% extends "compartidos/base.html" %}


{% block title_head %}Acerca de mi{% endblock title_head %}
{% block h1_header %}Acerca de mi{% endblock h1_header %}
{% block masthead %} 
{% endblock masthead %}

{% block main %}
<table class="font-weight-light mb-0">
   <thead>
       <tr>
           <th class="fw-bolder text-center">
              Mi nombre es Brenda Ocanto y ésta es mi primera página!
              Tengo 25 años y soy estudiante del curso de Python Flex en Coderhouse.
           </th>
           <th class="fw-bolder text-center">
              Soy muy fanatica de Taylor Swift asi que decidí hacer un blog de canciones de Taylor, que ademas cuenta con un chat 
              para poder conocerse entre usuarios. Espero que les guste!
           </th>
       </tr>
     </thead>
</table>                                                                        
{% endblock main %}