{% extends "compartidos/base.html" %}

{% block title_head %}Mensajes{% endblock title_head %}
{% block h1_header %}Mensajes{% endblock h1_header %}
{% block masthead %}Dejanos un mensaje!{% endblock masthead %}
{% block main %} 

<a class="navbar-brand" href={% url "crear_mensaje" %}>Crear mensaje</a>
<form action="">
        {{formulario}}
    <input type="submit" value="Buscar" />
</form>

{% if mensajes_encontrados%}                                                           
<ul>
    {% for mensaje in mensajes_encontrados %}
        <li>
            <a href={% url "detalle_mensaje" mensaje.id%}>{{mensaje}}</a> || <a href={% url "editar_mensaje" mensaje.id %}>Editar</a> || <a href={% url "eliminar_mensaje" mensaje.id %}>Eliminar</a>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>No se encontraron mensajes</p>
{% endif %}
{% endblock main %}