{% extends "compartidos/base.html" %}


{% block title_head %}Detalle{% endblock title_head %}

{% block h1_header %}
Detalles de canción número: {{cancion.id}}
{% endblock h1_header %}
{% block masthead %} 
{% endblock masthead %}

{% block main %}
<ul>
    <li>Titulo: {{cancion.titulo}} </li>
    <li>Album: {{cancion.album}}</li>
    <li>Letra: {{cancion.letra | safe}}</li>
    <li>Fecha de lanzamiento: {{cancion.fecha_lanzamiento}}</li>
    <li>Autor: {{cancion.autor}}</li>
</ul>
{% endblock main %}