{% extends "compartidos/base.html" %}

{% block title_head %}Canciones{% endblock title_head %}
{% block h1_header %}Canciones{% endblock h1_header %}
{% block masthead %}Mirá o ingresa alguna cancion de Taylor!{% endblock masthead %}

{% block main %} 
<a class="navbar-brand" href={% url "crear_cancion" %}>Ingresar Canción Nueva</a>
<form action="">
    <input type="text" name='marca' placeholder='Ingresa canción...'>
    <input type="submit" value="Buscar" />
</form>

{% if listado_cancion %}                                                           
<ul>
    {% for cancion in listado_cancion %}
        <li>
            <a href={% url "detalle_cancion" cancion.id%}>{{cancion}}</a> 
            {% if request.user.is_authenticated and cancion.autor == request.user %}
            <a href={% url "editar_cancion" cancion.id %}>Editar</a> || <a href={% url "eliminar_cancion" cancion.id %}>Eliminar</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% else %}
<p>No se encontraron canciones</p>
{% endif %}
{% endblock main %}

